<div class="principal-box pt-3 px-3">

  <div class="row align-items-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal" style="text-align: center;">Ahorcado</h4>
        </div>
        <div class="card-body">
          <img src="../../../assets/logo_ahorcado.png" >
          <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="ahorcado">Jugar</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal" style="text-align: center;">Preguntados</h4>
        </div>        
        <div class="card-body">
          <img src="../../../assets/logo_preguntados.png" >
          <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="preguntados">Jugar</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal" style="text-align: center;">Adivina la carta</h4>
        </div>
        <div class="card-body">
          <img src="../../../assets/logo_cartas.jpeg" >
          <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="mayorMenor">Jugar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row align-items-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal" style="text-align: center;">Chat grupal</h4>
        </div>
        <div class="card-body">
          <img src="../../../assets/logo_chat.png" >
          <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="chat">Entrar</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal" style="text-align: center;">4 fotos 1 palabra</h4>
        </div>
        <div class="card-body">
          <img src="../../../assets/4fotos.png" >
          <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="FotosUnaPalabra">Jugar</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal" style="text-align: center;" >Resultados</h4>
        </div>
        <div class="card-body">
          <img src="../../../assets/resultados.jpg" >
          <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="results">Mirar</button>
        </div>
      </div>
    </div>
  </div>
</div>