<div class="quienSoy-box mt-2">
  <h2>¿Quien soy?</h2>
  <img class="d-block mx-auto mb-4" src={{this.avatarUrl}} alt="" width="100">
  <h2>{{this.nombrePersonal}}</h2>
  <div style="height: auto;">
    <p>Hola, actualmente estoy cursando el ultimo cuatrimestre de la tecnicatura en programacion de la UTN.<br>
      En gitHub pueden encontrarme como: {{this.nombrePerfil}}</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href={{this.perfilUrl}} target="_blank" class="btn btn-primary btn-lg px-4 gap-3">Ir a mi GitHub</a>
    </div>
  </div>

  <div class="mt-3">
    <h2 class="d-grid">4 fotos 1 Palabra</h2>
    <div style="height: auto;">
      <p>
        Este es mi juego elegido, el cual es muy simple. Se muestran 4 imagenes y hay que 
        adivinar que palabra esta relacionada con todas estas. Para esto se ingresa letra a letra apretando 
        el boton que corresponde a cada una hasta cumplir con la cantidad correspondiente, luego se apreta el 
        boton aceptar para averiguar si la palabra era la correcta. Tambien hay un boton de limpiar toda la palabra
        escrita por si se considera que la palabra ingresada es incorrecta
      </p>
    </div>
  </div>
</div>
